<div class="card borders " >
    <img
      class="card-img-top"
      src="{{image ? image : 'https://image.freepik.com/free-vector/man-profile-cartoon_18591-58483.jpg'}}"
      width="150px"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{Secoundfield}}</p>
    </div>
    <ng-container *ngIf="delete">
      <button class="btn btn-danger w-50" (click)="del()">Delete</button>
    </ng-container>
    
   
      <!-- <p>{{delete}}</p> -->

  </div>