
  
  <div class="container">
    <div class="row p-4">
      <div class="col-md-6 ">
        <div (click)="redirect('techer')" class="one">
          <app-card name="Techer" Secoundfield="There was all Techers of OurSchool" image="https://image.freepik.com/free-vector/man-profile-cartoon_18591-58483.jpg"></app-card>
      </div>
      </div>
  
      <div class="col-md-6">
        <div class="two" (click)="redirect('student')">
          <app-card name="Students" Secoundfield="There was all Students of Our School" image="https://image.freepik.com/free-vector/woman-profile-cartoon_18591-58475.jpg"></app-card>
      </div>
      </div>
    </div>
  </div>